In [41]:
import pandas as pd

escolas = pd.read_csv('https://drive.google.com/uc?id=1Jgto7psHaMRTAVzcFt7D6SgJiHMB7uGT')
estudantes = pd.read_csv('https://drive.google.com/uc?id=15aOJIGAyLMSY1gecjiCgu2ko_riIcKQy')

In [4]:
escolas.describe()

       ID_Escola  Numero_Alunos  Orcamento_Anual
count  15.000000      15.000000     1.500000e+01
mean    7.000000    2611.333333     1.643295e+06
std     4.472136    1420.915282     9.347763e+05
min     0.000000     427.000000     2.480870e+05
25%     3.500000    1698.000000     1.046265e+06
50%     7.000000    2283.000000     1.319574e+06
75%    10.500000    3474.000000     2.228999e+06
max    14.000000    4976.000000     3.124928e+06

In [23]:
estudantes.describe()

       ID_Estudante         Serie  Nota_Redacao  Nota_Matematica
count  39160.000000  39160.000000  39160.000000     39160.000000
mean   19579.500000      7.359551     81.875741        78.984934
std    11304.662607      1.102796     10.238839        12.311055
min        0.000000      6.000000     63.000000        55.000000
25%     9789.750000      6.000000     73.000000        69.000000
50%    19579.500000      7.000000     82.000000        79.000000
75%    29369.250000      8.000000     91.000000        89.000000
max    39159.000000      9.000000     99.000000        99.000000

In [7]:
orcamento_total = escolas[('Orcamento_Anual')].sum()

In [8]:
orcamento_total

np.int64(24649428)

In [9]:
dados = escolas[('Orcamento_Anual')] / escolas[('Numero_Alunos')] 

df = pd.DataFrame(dados)

df['Percapita'] = dados

In [11]:
print(df.idxmax)
print(df.idxmin)

<bound method DataFrame.idxmax of         0  Percapita
0   655.0      655.0
1   639.0      639.0
2   600.0      600.0
3   652.0      652.0
4   625.0      625.0
5   578.0      578.0
6   582.0      582.0
7   628.0      628.0
8   581.0      581.0
9   609.0      609.0
10  583.0      583.0
11  637.0      637.0
12  650.0      650.0
13  644.0      644.0
14  638.0      638.0>
<bound method DataFrame.idxmin of         0  Percapita
0   655.0      655.0
1   639.0      639.0
2   600.0      600.0
3   652.0      652.0
4   625.0      625.0
5   578.0      578.0
6   582.0      582.0
7   628.0      628.0
8   581.0      581.0
9   609.0      609.0
10  583.0      583.0
11  637.0      637.0
12  650.0      650.0
13  644.0      644.0
14  638.0      638.0>

In [42]:


media_alunos = escolas.groupby('Tipo_Escola')['Numero_Alunos'].mean()

print(media_alunos)

Tipo_Escola
Particular    1524.250000
Publica       3853.714286
Name: Numero_Alunos, dtype: float64

In [43]:
orcamento_anual = escolas['Orcamento_Anual']
escolas_milhao = escolas[orcamento_anual > 1500000]
escolas_milhao.sum().describe()

count      5
unique     5
top       47
freq       1
dtype: int64